<a href="https://colab.research.google.com/github/Jhokowie007/PrototypeA001/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas

data = [9,8,6,7,8,9,6,7]
siswa = ['Shantara','Agnia','Shanum','Kenan','Daffa','Arumi','Elshan','widi']
alamat= ['Pare','Bendo','Puncu','Plosoklaten','Wates','Kunjang','Plemahan','Siman']
kelas = ['X-RPL','X-TG','X-RPL','X-AK','X-PM','X-DKV','X-TB','X-TITL']

nilai = pandas.DataFrame({
    "Nama Siswa" : siswa, "Alamat" : alamat, "Kelas" : kelas, "Nilai" : data
})

print(nilai)

  Nama Siswa       Alamat   Kelas  Nilai
0   Shantara         Pare   X-RPL      9
1      Agnia        Bendo    X-TG      8
2     Shanum        Puncu   X-RPL      6
3      Kenan  Plosoklaten    X-AK      7
4      Daffa        Wates    X-PM      8
5      Arumi      Kunjang   X-DKV      9
6     Elshan     Plemahan    X-TB      6
7       widi        Siman  X-TITL      7